.button {
  border: none;
  background: peachpuff;
  border: 1px solid peachpuff;
  border-radius: 4px;
  color: red;
  padding: 0.5em 1em;

  &:hover {
    cursor: pointer;
    border: 1px solid black;
  }

  span {
    color: blue;
  }
}
